* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 55px;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo img {
  width: 40%;
}
.navlinks {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.list {
  display: flex;
  margin-right: 10px;
  gap: 20px;
  list-style: none;
}
.navlinks button {
  background: none;
  color: black;
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
  font-size: 20px;
}
.navlinks button:hover {
  background: blue;
  color: white;
  transition: 0.5s ease-in;
}
.content1 {
  display: flex;
  justify-content: center;
}
.section2 {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.151);
  height: 80vh;
  width: 100%;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.bg {
  display: flex;
  align-items: center;
  background: url(./new-home-hero-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  border-radius: 20px;
}
.section2 h1 {
  font-size: 50px;
  text-align: center;
  align-items: center;
  display: flex;
}
.section2 p {
  font-size: 30px;
  text-align: center;
}
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 150px;
}
.section3 p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.section3 h1 {
  font-size: 35px;
  margin-bottom: 40px;
}
.section3 button {
  background: none;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  background: blue;
  color: white;
  cursor: pointer;
}
.sectionText button:hover {
  transition: 0.5s ease-in;
  background: rgb(51, 51, 162);
  color: black;
}
.section4 h1 {
  text-align: center;
  font-size: 20px;
}
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionText2 h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 10px;
  padding: 0 30px;
  justify-content: centers;
  overflow: hidden;
}
.card1 {
  display: flex;
  background: url(hero-image\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 250px;
  border-radius: 10px;
}
.blue {
  background-color: rgba(0, 0, 255, 0.329);
  width: 250px;
  height: 70vh;
  border-radius: 10px;
  padding-top: 210px;
}
.blue h1 {
  color: white;
  font-size: 30px;
}
.card2 {
  display: flex;
  background: url(hero-image\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 250px;
  border-radius: 10px;
}
.card3 {
  display: flex;
  background: url(hero-image\ 3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 250px;
  border-radius: 10px;
}
.card4 {
  display: flex;
  background: url(hero-image\ 4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 250px;
  border-radius: 10px;
}
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionText5 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.sectionText5 h1 {
  font-size: 50px;
  font-weight: 900;
  padding: 10px;
  justify-content: center;
  display: flex;
}
.sectionText5 p {
  font-size: 30px;
  font-weight: 600;
}
.section6 {
  display: flex;
  flex-direction: column;
}
.sectionText6 h1 {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
.logosContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.logos img {
  display: flex;
  width: 12%;
  margin-bottom: 40px;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sectionText7 h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.section7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardsContainer {
  display: flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px;
}
.cards2 {
  width: 165%;
}
.cards2 img {
  width: 100%;
  border-radius: 20px;
}
.cards2 h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cards2 h2 {
  font-size: 15px;
  color: rgba(58, 57, 57, 0.753);
  font-weight: 200;
}

.cards3 img {
  width: 100%;
}
.link {
  display: flex;
  justify-content: end;
  width: 100%;
}
.link a {
  color: rgb(64, 8, 116);
  font-size: 17px;
  border-bottom: 1.5px solid rgb(64, 8, 116);
  padding-bottom: 2px;
  font-weight: 600;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  background: black;
  width: 100%;
  gap: 50px;
  padding: 20px;
}
.footer1 {
  display: flex;
  gap: 100px;
}
.footer1Logo {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer1Logo img {
  width: 70%;
  margin-bottom: 100px;
}
.footer1Logo p {
  color: white;
  font-size: 13px;
}
.footerText {
  display: flex;
  gap: 70px;
}
.footer1List ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.footer2 {
  display: flex;
  width: 100%;
  border: 1px solid;
}
.footer2Content {
  display: flex;
  color: white;
  flex-direction: column;
  width: 40%;
}
.footer2input {
  display: flex;
justify-content: space-between;
border: 1px solid;
width: 100%;

}
.footer2input input{
  width: 50%;
  padding: 20px;
  border-radius: 30px;
  border: none;
}
.footer2input button{
  width: 30%;
  padding: 20px;
  border-radius:30px;
  background:  none;
  color: white;
  border: 1px solid white;
}
.footer2Content p{
font-family: sans-serif;
font-size: 19px;

}